<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    
</html>

    <h1></h1>
    <form name="form1" method="POST" action="/users">
    <table>
        <tr>
        <td>Name</td>
        <td><input type="text" name="name" ></td>
        </tr>
        <tr>
        <td>Favorite Language</td>
        <td><select name="language">
            <option>Javascript</option>
            <option>Ruby</option>
            <option>Python</option>
            <option>Klingon</option>
        </td>
        </tr>
        <tr>
        <tr>
            <td>Location:</td><td><select name="location">
            <option>San Jose</option>
            <option>Seattle</option>
            <option>Other</option>
        </select></td>
              </tr>
              <tr>
                  <td>Comment(optional)</td>
                  <td><textarea name="comment"></textarea></td>
              </tr>
        <td colspan="2"><input type="submit" value="Submit" ></td>
        </tr>
    </table>
    </form>   
 
</body>