<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Submitted Info:<br>
Name: <br><%= post_data.name %><br><br>
Location: <br><%= post_data.location %><br><br>
Favorite Language:<br><%= post_data.language %><br><br>
Comment: <br><%= post_data.comment %><br><br>
<a href="/">Go back</a>
</body>
</html>